@use "./_variables.scss" as *;
#appFooter {
  .col {
    width: fit-content;
    
    a {
      transition: color 0.3s;
  
      &:hover {
        color: $accent;
      }
    }
  }

  .heart {
    color: $accent;
  }
}
