@use "./_variables.scss" as *;

#projectsSection {
  background: linear-gradient(180deg, $dark, $darkBlue 25px);
  padding-top: 90px;

  .projectWrapper {
    background-color: $lightBlue;

    .infos {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: $accentSemiTransparent;
      opacity: 0;
      transition: 0.3s;

      p {
        font-size: 1.5rem;
      }

      .singleProjectLink {
        border: 3px solid $dark;
        transition: 0.3s;

        &:hover {
          border: 3px solid $dark;
          background-color: $accent;
          color: $dark;
        }
      }
    }

    &:hover {
      .infos {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      object-fit: contain;
      transition: 0.6s;
    }
  }

  #allProjectsButton {
    border: 3px solid $accent;
    transition: 0.3s;

    &:hover {
      border: 3px solid $accent;
      background-color: $accent;
      color: $dark;
    }
  }
}
